# WalletConnect Project ID (get from https://cloud.walletconnect.com/)
VITE_WALLETCONNECT_PROJECT_ID=your_project_id_here

# Network Configuration
VITE_NETWORK=sepolia  # Supported: "sepolia" or "mainnet"

# Subgraph Configuration
VITE_SUBGRAPH_URL=https://api.studio.thegraph.com/query/<id>/<name>/version/latest
VITE_SUBGRAPH_AUTH_TOKEN=your_token_here

VITE_AGENT_VAULT_FACTORY_ADDRESS=0x
VITE_ORACLE_ADDRESS=0x